<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{0,0},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{358,756},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{716,756},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{1074,756},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{1432,756},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{1790,756},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{2148,756},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{2506,756},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{0,1512},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{358,1512},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{716,1512},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{358,0},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{1074,1512},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{1432,1512},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{1790,1512},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{2148,1512},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{716,0},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{1074,0},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{1432,0},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{1790,0},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{2148,0},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{2506,0},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,756}</string>
                <key>spriteSourceSize</key>
                <string>{358,756}</string>
                <key>textureRect</key>
                <string>{{0,756},{358,756}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>green_smoke.png</string>
            <key>size</key>
            <string>{2864,2268}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44480362b32a21b29540193eb145900c:a8f85d72e6572594ce98ce9899f28301:f58ab5af9b0a950cc53c4140f5c49840$</string>
            <key>textureFileName</key>
            <string>green_smoke.png</string>
        </dict>
    </dict>
</plist>
