<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fame_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,648}</string>
                <key>spriteSourceSize</key>
                <string>{307,648}</string>
                <key>textureRect</key>
                <string>{{0,0},{307,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,648}</string>
                <key>spriteSourceSize</key>
                <string>{307,648}</string>
                <key>textureRect</key>
                <string>{{0,648},{307,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,648}</string>
                <key>spriteSourceSize</key>
                <string>{307,648}</string>
                <key>textureRect</key>
                <string>{{307,648},{307,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,648}</string>
                <key>spriteSourceSize</key>
                <string>{307,648}</string>
                <key>textureRect</key>
                <string>{{614,648},{307,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,648}</string>
                <key>spriteSourceSize</key>
                <string>{307,648}</string>
                <key>textureRect</key>
                <string>{{921,648},{307,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,648}</string>
                <key>spriteSourceSize</key>
                <string>{307,648}</string>
                <key>textureRect</key>
                <string>{{1228,648},{307,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,648}</string>
                <key>spriteSourceSize</key>
                <string>{307,648}</string>
                <key>textureRect</key>
                <string>{{307,0},{307,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,648}</string>
                <key>spriteSourceSize</key>
                <string>{307,648}</string>
                <key>textureRect</key>
                <string>{{614,0},{307,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,648}</string>
                <key>spriteSourceSize</key>
                <string>{307,648}</string>
                <key>textureRect</key>
                <string>{{921,0},{307,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fame_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,648}</string>
                <key>spriteSourceSize</key>
                <string>{307,648}</string>
                <key>textureRect</key>
                <string>{{1228,0},{307,648}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>m16sp.png</string>
            <key>size</key>
            <string>{1535,1296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37677fc6ffcb4a192701daa39eeda997:ff551afc0f021153583e9824bcedc830:4c8fcd1d2ad3f857284d38f914e06e74$</string>
            <key>textureFileName</key>
            <string>m16sp.png</string>
        </dict>
    </dict>
</plist>
